/docs
/example
/example-server
/ios/external/SpotifySDK/docs
/ios/external/SpotifySDK/DemoProjects
/ios/external/SpotifySDK/img
/android/.gradle/
/android/build/
/android/external/SpotifySDK/app-remote-sample
/android/external/SpotifySDK/auth-sample
/android/external/SpotifySDK/app-remote-lib/docs
/android/external/SpotifySDK/app-remote-lib/img
/android/external/SpotifySDK/auth-lib/docs
/android/external/SpotifySDK/*.*
/src/
gradlew
gradlew.bat
build/
gradlew
gradlew.bat
.idea
local.properties
*.iml